body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
}

header {
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.brand-name {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #ff5f6d, #ffc371, #86a8e7, #91eae4); /* Multicolor gradient */
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 5s ease infinite; /* Add animation for a dynamic effect */
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {
    width: 80%;
}

h2 {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #b2bec3; /* Light gray background for table headers */
}

a {
    color: #00b894; /* Green color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.signal-button {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    background-color: #00b894; /* Green background for signal buttons */
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.signal-button:hover {
    background-color: #55efc4; /* Lighter green on hover */
}

.hidden {
    display: none;
}
